.Navbar {
  width: 100%;
  display: grid;
  place-items: center;

  &__Links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;

    > div {
      padding: 0.55rem 1rem;
      color: white;
      cursor: pointer;
      font-weight: 500;
    }
  }
}
